<div class="d-flex team-vs" style="margin:20px;">
  <button class="btn btn-danger" (click)="deleteUser(userInput.id)">delete</button>
  
    <div class="team-1 w-50">
      <div class="team-details w-100 text-center">
        <img src="assets/images/logo_1.png" alt="Image" class="img-fluid">
        <ul class="list-unstyled">
          <li>{{userInput.email}}</li>
          <li>{{userInput.password}}</li>
          <li>{{userInput.firstName}}</li>
          <li>{{userInput.lastName}}</li>
         
        </ul>
      </div>
    </div>
    
  </div>
